<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">

    <title>ADRoit - Site Maintenance</title>

    <link href="./main.css" rel="stylesheet"/>
    <script src="./vendor.js"></script>
</head>
<body>
    <div class="navbar">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Goal Group</a>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <h2>Site Maintenance</h2>
                <p>Our application is temporarily unavailable due to scheduled maintenance. We will return shortly.</p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="col-md-5">
            </div>
            <div class="col-md-offset-2 col-md-5">
                <div class="row">
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
